body {
  background: #F5DEB3
}
h1, h3, h2 {
    color: #800080;
    padding: 2px;
    text-align: center;
}
.conteiner {
  position: absolute;
  width: 100%;
  font-size: 90%;
  text-align: center;
}
table {
  width: 100%;
}
